language: python

matrix:
  include:
    - python: 2.7
      env:
      - NUMPY_VER="=1.10"
      - SCIPY_VER="=0.17"
    - python: 3.4
      env:
      - NUMPY_VER="=1.11"
      - SCIPY_VER="=0.18"
    - python: 3.5
      env:
      - NUMPY_VER="=1.12"
      - SCIPY_VER="=0.19"
    - python: 3.6
      env:
      - NUMPY_VER=""
      - SCIPY_VER=""

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda create -q -n tweedie_test python=$TRAVIS_PYTHON_VERSION coverage pytest pip pytest-cov numpy${NUMPY_VER} scipy${SCIPY_VER}
  - source activate tweedie_test

install:
  - python setup.py develop
script:
  - py.test --doctest-modules tweedie
# notifications:
#   email:
#   - me@me.com
after_success:
  - pip install codecov
#   - codecov
